@using GamesBucket.Shared.Helpers
@model PagedResult<GamesBucket.DataAccess.Models.Game>

@{
    ViewData["Title"] = "Games List";
}

<!-- page title -->
<section class="section section--first section--last section--head" data-bg="img/bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h2 class="section__title">Catalog <span>(@Model.Results.Count games)</span></h2>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Catalog</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- section -->
<section class="section section--last section--catalog">
	<div class="container">
		@if (@Model.Results.Any())
		{
			<!-- catalog -->
			<div class="row catalog">
				<!-- filter wrap -->
				<div class="col-12 col-lg-20">
					<div class="row">
						<div class="col-12">
							<div class="filter-wrap">
								<button class="filter-wrap__btn" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">Open filter</button>

								<div class="collapse filter-wrap__content" id="collapseFilter">
									<!-- filter -->
									<div class="filter">
										<h4 class="filter__title">Filters <button type="button" onclick="resetCatalogFilters()">Clear all</button></h4>

										<div class="filter__group">
											<label for="keywords" class="filter__label">Keyword</label>
											<input type="text" name="keywords" id="keywords" class="filter__input" placeholder="Keyword">
											@* onkeyup="applyCatalogFilters(this)" *@
										</div>

										<div class="filter__group">
											<label for="page-size" class="filter__label">Page Size</label>
                                                                                
											<div class="filter__select-wrap">
												<select name="page-size" id="page-size" class="filter__select">
													<option value="12">12</option>
													<option value="24">24</option>
													<option value="48">48</option>
													<option value="64">64</option>
												</select>
											</div>
										</div>
										
										<div class="filter__group">
											<label for="sort-release-time" class="filter__label">Release Date</label>

											<div class="filter__select-wrap">
												<select onchange="document.querySelector('#sort-beat-time').value = 0" name="sort-release-time" id="sort-release-time" class="filter__select">
													<option value="0">None</option>
													<option value="1">Newest</option>
													<option value="2">Oldest</option>
												</select>
											</div>
										</div>
										
										<div class="filter__group">
                                        	<label for="sort-beat-time" class="filter__label">Beat Time</label>

                                        	<div class="filter__select-wrap">
                                        		<select onchange="document.querySelector('#sort-release-time').value = 0" name="sort-beat-time" id="sort-beat-time" class="filter__select">
                                        			<option value="0">None</option>
                                        			<option value="1">Longest</option>
                                        			<option value="2">Shortest</option>
                                        		</select>
                                        	</div>
                                        </div>

										<div class="filter__group">
											<label class="filter__label">Hours</label>

											<div class="filter__range">
												<div id="filter__range-start"></div>
												<div id="filter__range-end"></div>
											</div>

											<div id="filter__range"></div>
										</div>

										<div class="filter__group">
											<label class="filter__label">Genres</label>
											<ul class="filter__checkboxes">
												@{
													var genres = new HashSet<string>();
													foreach (var genreList in Model.Results.Select(g => g?.Genres))
													{
														if (genreList != null)
														{
															var genreStrings = genreList.Select(ge => ge?.Name);
															genres.UnionWith(genreStrings.Where(s => s != null));
														}
													}

													var orderedGenres = genres.OrderBy(g => g).ToList();
													for (int i = 1; i <= orderedGenres.Count; i++)
													{
														var typeString = $"type{i}";
														<li>
															<input id="@typeString" type="checkbox" name="@typeString" checked="" data-value="@orderedGenres[i - 1]">
															<label for="@typeString">@orderedGenres[i - 1]</label>
														</li>
													}
												}
											</ul>
										</div>
										
										<div class="filter__group">
											@* <button class="filter__btn" type="button" onclick="applyCatalogFilters()">APPLY FILTER</button> *@
											<button class="filter__btn" type="button" onclick="getGamesPage()">APPLY FILTER</button>
										</div>
									</div>
									<!-- end filter -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end filter wrap -->

				<!-- content wrap -->
				<div class="col-12 col-lg-80">
					<div class="row" id="result-container">
						<partial name="_CardsContainerPartial" model="Model"/>
					</div>
				</div>
				<!-- end content wrap -->
			</div>
			<!-- end catalog -->
			<!-- floating action button -->
			<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
				<li class="mfb-component__wrap">
					<a href="#" class="mfb-component__button--main">
						<i class="mfb-component__main-icon--resting fa fa-ellipsis-h"></i>
						<i class="mfb-component__main-icon--active fa fa-ellipsis-h"></i>
					</a>
					<ul class="mfb-component__list">
						<li>
							<a asp-controller="Home" asp-action="New" data-mfb-label="Add New Game" class="mfb-component__button--child">
								<i class="mfb-component__child-icon fa fa-plus"></i>
							</a>
						</li>
					</ul>
				</li>
			</ul> 			
		}
		else
		{
			<div class="row mt-5">
				<div class="col-md-12 mt-5 d-flex justify-content-center">
					<i class="fa fa-search not-found-icon" aria-hidden="true"></i>
					<span class="not-found-text">Empty</span>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-3">
					<a class="sign__btn" asp-controller="Home" asp-action="New">Add New</a>
				</div>
			</div>
		}
	</div>
</section>
<!-- end section -->