@model GamesBucket.App.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Exception Code</h3>
<p>
    @Model.ExceptionHandlerFeature.Error.HResult
</p>

<h3>Exception Message</h3>
<p>
    @Model.ExceptionHandlerFeature.Error.Message
</p>

<h3>Stack Trace</h3>
<p>
    @Model.ExceptionHandlerFeature.Error.StackTrace
</p>

<p>
    <strong>Exception Incident: @DateTime.UtcNow.ToLongDateString()</strong>
</p>